.App {
  text-align: left;
  width: 100%;
}

.App-title {
  font-size: 1.5em;
}

tr {
  color: #5b5757;
}

.footer {
  padding-top: 20px;
  text-align: center;
}

.table {
  margin-bottom: 2em;
}

.loading,
.error {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .card {
    width: 25rem;
  }
}
